importlib_metadata ; python_version < "3.8"
libcst
typer

## extras: black
black

## extras: pygments
Pygments

## extras: ipython
ipython

black
flake8
isort
mdx_truly_sane_lists==1.2
mkdocs>=1.1
mkdocs-jupyter
mkdocs-material
mkdocstrings
mypy
pytest
pytest-cov
tqdm
wheel

quickhttp==0.1.0
